Maain/out
Maain/mywiki.xml
Maain/mywiki_old.xml
frwiki10000.xml
Maain/mywiki - Copie.xml
Maain/IDMappedToTitle.txt
Maain/Dictionnaire.txt
Maain/IDMappedToTitle - Copie.txt
Maain/pagesLink.txt
Maain/cli.txt
Maain/cli.zip
Maain/pageRank.txt
